name: "Gem Workflow"

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  gem:
    name: Build Gem
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          DOCKER_BUILDKIT=1 docker-compose -p ci build --pull

      - name: Run Unit Tests
        run: |
          docker-compose -p ci run test

      - name: Run Code Linting
        run: |
          docker-compose -p ci run lint

      - name: Deploy Gem
        if: github.event_name  == 'push'
        run: |
          GH_TOKEN=${{ secrets.GITHUB_TOKEN }} docker-compose -p ci run deploy
